doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    link(rel="icon", href="/images/icons8-ridebike.png", type="image/x-icon")
    
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
  body
    include navbarnew 
    block content