
//- header#header
//-   hgroup
//-     h1#site-logo Gare ciclistiche U23 ed Elite
//-   nav
//-     ul#main-nav
//-       li: a(href='/') Home
//-       li: a(href='/percorsi') Percorsi
//-       li: a(href='/calendario_gare') Calendario
//-       li: a(href='/contatti') Contatti
//-       if username
//-         li(style="float: right;")
//-           table#nav-table
//-               tr 
//-                 td    
//-                   i.fa-solid.fa-address-card 
//-                 td
//-                   strong #{username}
//-                 td 
//-                   form(action='/logout', method='get')
//-                     button.btn-nav(type='submit') Logout
//-       else
//-         li(style="float: right;")
//-           table#nav-table
//-               tr
//-                 td 
//-                   form(action='/register', method='get')
//-                     button.btn-nav(type='submit') Registrati
//-                 td
//-                   form(action='/login', method='get')
//-                       button.btn-nav(type='submit') Accedi

// Header
header#header
  nav.left
    a(href='#menu')
      span Menu
  a.logo(href='/') Gare ciclistiche U23
  nav.right
    if username
      table#nav-table
        tr 
          td    
            i.fa-solid.fa-address-card 
          td
            strong #{username}
          td 
            a.button.small(href='/logout') Logout
    else
      a.button.alt(href='/login') Accedi
      a.button.alt(href='/register') Registrati

// Menu
nav#menu
  ul.links
    li: a(href='/') Home
    li: a(href='/percorsi') Percorsi
    li: a(href='/calendario_gare') Calendario
    li: a(href='/addGara') Aggiungi Gara

  ul.actions.vertical
    li
      if username
        table#nav-table
          tr 
            td    
              i.fa-solid.fa-address-card 
            td
              strong #{username}
          tr 
            a.button.small(href='/logout') Logout
      else
        a.button.small.fit(href='/login') Accedi
        div(style='margin-bottom: 10px;')
        a.button.small.fit(href='/register') Registrati