extends layout

block content
  #content
    h1.registrazionetitle Registrazione
    h2 
      a(href="/problemi#accountEsistente") #{message}
    form(id="comment-form" action='/register', method='post')
      div.form-group
        label(for='username') Username:
        input(type='text', name='username', placeholder="inserisci username" required)
      div.form-group
        label(for='password') Password:
        input(type='password', name='password', placeholder="password almeno 6 caratteri", minlength="6", required)
      button(type="submit") Registrati
    p.registrazione
      a(href='/login') Hai già un account? Accedi qui.

  #sidebar
    section.widget
      h4.widgettitle Funzionalità del Sito
      p Descrizione delle funzionalità principali del sito:
      ul.check-list
        li Visualizza elenco di tutte le gare
        li Registra un account per accedere alle funzionalità avanzate
        li Accedi al tuo account per gestire le gare
    section.widget
      h4.widgettitle Guida ai problemi 
      ul 
        li 
          a(href="/problemi#registrazione") Ho problemi con la registrazione
        li 
          a(href="/problemi#login") Ho problemi con il login
        li 
          a(href="/problemi") Contatta l'assistenza
    

  footer#footer
    p Sito di 
      a(href="https://www.strava.com/athletes/18686973") Alessio Bonora
    p &copy; 2023 Gare ciclistiche U23 ed Elite. Tutti i diritti riservati.